[submodule "src/common/rosboard/rosboard"]
	path = src/common/rosboard/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "src/common/ros2_numpy/ros2_numpy"]
	path = src/common/ros2_numpy/ros2_numpy
	url = https://github.com/Box-Robotics/ros2_numpy.git
[submodule "src/perception/vision_pipeline/yolov5"]
	path = src/perception/vision_pipeline/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "src/simulators/eufs_sim"]
	path = src/simulators/eufs_sim
	url = https://gitlab.com/eufs/eufs_sim.git
[submodule "src/simulators/eufs_msgs"]
	path = src/simulators/eufs_msgs
	url = https://gitlab.com/eufs/eufs_msgs.git
[submodule "src/simulators/fsds"]
	path = src/simulators/fsds
	url = https://github.com/QUT-Motorsport/Formula-Student-Driverless-Simulator.git
