.env

# datasets
datasets/*

# - VSCode -
.vscode/*
!.vscode/cpp_properties.json
.devcontainer/*
!.devcontainer/RENAME_devcontainer.json

# - Lidar Perception -
# Python Virtual Environment
development/lidar_perception/venv/*
# pycache
development/lidar_perception/__pycache__/*
# Figures
development/lidar_perception/figures/*
development/lidar_perception/inertiallycorrectthelidarscan_motion_fixing.txt
