colour
cython
dataclasses
eigen
ipython
matplotlib
opencv
pandas
Pillow
protobuf
PyYAML
requests
ros-galactic-ackermann-msgs
ros-galactic-ament-cmake-nose
ros-galactic-joint-state-publisher
ros-galactic-xacro
scikit-learn
scipy
seaborn
tornado
tqdm
transforms3d
