<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->

<!-- TODO:  COPIED FROM THE EXAMPLE 9 OF ROS2_CONTROL - NEED MODIFICATION -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="qev3d_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find qev3d_ros2_control)/config/qev3d_controller.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
