<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="qev3d_gazebo" params="prefix base_frame chassis_link">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find qev3d_ros2_control)/config/qev3d_controller.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- Base Link -->
    <gazebo reference="${base_frame}">
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Chassis Link -->
    <gazebo reference="${chassis_link}">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="virtual_rear_wheel">
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="virtual_front_wheel">
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Steering Hinges (if intended to be defined) -->
    <gazebo reference="left_steering_hinge">
      <!-- Add any relevant material or other properties here -->
    </gazebo>

    <gazebo reference="left_front_wheel">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="right_steering_hinge">
      <!-- Add any relevant material or other properties here -->
    </gazebo>

    <gazebo reference="right_front_wheel">
      <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="left_rear_wheel">
      <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="right_rear_wheel">
      <material>Gazebo/White</material>
    </gazebo>

  </xacro:macro>

</robot>
