<?xml version="1.0"?>
<robot name="qev-3d" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--  Get the parameters  -->
  <xacro:arg name="base_frame" default="base_link"/>
  <xacro:arg name="display_car" default="true"/>
  <xacro:property name="chassis_link" default="chassis"/>

  <xacro:property name="degrees_90" value="1.5708"/>
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:property name="steering_limit" default="0.28"/>
  <xacro:property name="wheel_diameter" value="0.4064"/>
  <xacro:property name="wheel_width" value="0.2"/>
  <xacro:property name="chassis_width" value="1.6"/>
  <xacro:property name="wheelbase" value="1.580"/>

  <!-- material -->
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="orange">
    <color rgba="0.88 0.36 0.035 1"/>
  </material>

  <!-- Vehicle include -->
  <xacro:include filename="$(find vehicle_urdf)/urdf/vehicle.urdf.xacro"/>
  <!-- Chassis of the car -->
  <xacro:chassis base_frame="$(arg base_frame)" display_car="$(arg display_car)"/>
  <!-- Wheels -->
  <xacro:wheels/>

  <!-- Sensors include -->
  <xacro:include filename="$(find vehicle_urdf)/urdf/sensors.urdf.xacro"/>
  <xacro:velodyne parent="${chassis_link}" name="velodyne">
    <origin xyz="-0.3 0 1.0532" rpy="0 0 0"/>
  </xacro:velodyne>

  <gazebo>
    <plugin
      filename="libgazebo_ros_race_car.so"
      name="gazebo_plugins::eufs_plugins::RaceCarPlugin">

      <command_mode>velocity</command_mode>

      <wheelbase>1.53</wheelbase>
      <max_speed>20.0</max_speed>
      <max_accel>8.0</max_accel>
      <max_decel>12.0</max_decel>
      <max_steering_deg>35.0</max_steering_deg>

      <update_rate>100.0</update_rate>
      <publish_rate>50.0</publish_rate>
      <command_timeout>1.0</command_timeout>

      <map_frame>map</map_frame>
      <odom_frame>odom</odom_frame>
      <base_frame>base_link</base_frame>

      <simulate_transform>false</simulate_transform>
      <publish_ground_truth>true</publish_ground_truth>
      <simulate_slam>true</simulate_slam>

    </plugin>

    <plugin
      filename="libgazebo_ros_cone_detection.so"
      name="gazebo_plugins::eufs_plugins::ConeDetectionPlugin">
    </plugin>
  </gazebo>
</robot>
