version: "3.9"

services:
  # Base image containing dependencies
  base:
    image: driverless:base
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.base
      args:
        ROS_DISTRO: jazzy
      target: base
  # Overlay image containing the QUTMS workspace and user
  panda_terminal:
    image: driverless:terminal
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.overlay
      args:
        USERNAME: qutms2
        UID: 1001
      target: overlay
    # Interactive shell
    stdin_open: true
    tty: true
    # Networking and IPC for ROS 2
    network_mode: host
    ipc: host
    pid: host
    # Needed to display graphical applications
    privileged: true
    environment:
      # Allows graphical programs in the container.
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      # /dev/shm is mounted in so that two foxy containers can talk to each other when using net=host, see: https://answers.ros.org/question/370595/ros2-foxy-nodes-cant-communicate-through-docker-container-border/
      - /dev/shm:/dev/shm
      - /dev/sbg:/dev/sbg
      # Allows graphical programs in the container.
      - $HOME/.Xauthority:/home/qutms2/.Xauthority
      # Mount the workspace folders (some with read-write permissions)
      - ../../QUTMS_Driverless/src:/home/qutms2/QUTMS/QUTMS_Driverless/src
      - ../../QUTMS_Driverless/tools:/home/qutms2/QUTMS/QUTMS_Driverless/tools
      - ../../roslogs:/home/qutms2/QUTMS/roslogs
      - ../../bags:/home/qutms2/QUTMS/bags
      - ../../build:/home/qutms2/QUTMS/build
      - ../../log:/home/qutms2/QUTMS/log
      - ../../install:/home/qutms2/QUTMS/install
      # - ../../slam_toolbox:/home/${USERNAME}/QUTMS/slam_toolbox
      # - ../../sbg_ros2_driver:/home/${USERNAME}/QUTMS/sbg_ros2_driver
    devices:
      - /dev/dri:/dev/dri
    # Start the terminal
    command: /bin/bash

  # Launch bringup
  panda:
    extends: panda_terminal
    command: ros2 launch vehicle_bringup bootup.launch.py
