<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="velodyne" params="*origin parent name">
    <!-- base frame to velodyne base -->
      <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.0516" length="0.0717"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>
  </xacro:macro>
</robot>
