colour
colorama
cython
dataclasses
eigen
matplotlib
opencv-python
pandas
Pillow
protobuf
PyYAML
requests
scikit-learn
scipy
transforms3d
simplejpeg
pygame
numpy==1.22
numba==0.59.1
git+https://git@github.com/QUT-Motorsport/ft-fsd-path-planning.git