cython
dataclasses
eigen
matplotlib
opencv
ros-humble-ackermann-msgs
ros-humble-joint-state-publisher
ros-humble-tf-transformations
ros-humble-velodyne
ros-humble-geodesy
scipy
scikit-learn
transforms3d
